body{
    background-color: hsl(212, 45%, 89%);
}

h3{
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

span{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    width: 240px;
    margin: auto;
}

img{
    /* margin-left: 25%; */
    display: block;
    margin: auto;
    align-self: center;
    border-radius: 10px;
    height: 400px;
    width: 400px;
}

.base{
    font-family: "Outfit";
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    height: 500px;
    width: 800px;
    margin: auto auto auto auto;
}